.about{
  
   
    
    &__left{
        height: 45rem;
        width: 45rem;       
        background: rgb(72, 7, 110);
        border-radius: 100rem;
        margin-top: 25%;
        position: relative;


        @media(max-width: 460px){
            height: 19rem;
            width: 19rem; 
            margin-top: 0;
            margin-left: 2rem;
            
             
            }
      
        

        
    }


     &__img{
         height: 35rem;
         width: 35rem;
         border-radius: 100rem;
         position: relative;
        left: 5rem;
        top: 5rem;

        @media(max-width: 460px){
            height: 15rem;
            width: 15rem; 
            left: 2rem;
            top: 2rem;
             
            }

     }
     &__right{
      
       
        background:  rgba(72, 7, 110, 0.863);
        z-index: -333;
        width: 122rem;
        position: absolute;
        bottom: 1rem;
        left: 26rem;
        height: 42rem;
        border-radius: 1rem;

        

      
        


        @media(max-width: 460px){
           
           width: 32rem;
           height: 40rem;
           top: 8rem;
           left: 0;
             
        }
        @media(max-width: 385px){
            width: 26rem;
            height: 40rem;
    }

        
       

     }
     &__header{
         font-size: 5.5rem;
         margin-left: 26rem ;
         @media(max-width: 460px){
           
           
           font-size: 2.5rem;
           margin-top: 11rem;
           margin-left: 4rem;

              
        }

     }
     &__text{
         
        //  margin-left: 2rem;
         text-align: justify;
         padding: 0 4rem;
         margin-top: 2rem;
         margin-left: 19rem;

         @media(max-width: 460px){
           
           margin-left: 13rem;
           text-align: left;
           padding: 0 1rem;
           margin-top: 1rem;
           display: none;
               
         }

         &-mobile{
             display: none;

             @media(max-width: 460px){
           display: flex;
           margin-left: 4rem;
                   
             }
         }
         

         
     }
}