.photos{
   
    
    display: grid;
    margin-top: 9rem;
    grid-template-rows: repeat(2, minmax(20rem, 15rem));
    grid-template-columns: repeat(3, minmax(45rem, 50%));
    margin-left: 15rem;
    box-shadow: 10px -7px 101px -26px rgba(0,0,0,0.75);

    @media(max-width: 1615px){
        margin-left: -9rem;
           
      }

    @media(max-width: 415px){
       display: none;
          
     }
     &-phone{
         display: none;
         height: 5rem;
         width: 35rem;

         @media(max-width: 415px){
             height: 5rem;
             width: 35rem;
             margin-top: 50%;
             margin-left: 3rem;
            display: flex;
            
         }
               
     }


    &__block{
        height: 100%;
        width: 100%;
        cursor: pointer;


        & img {
            height: 100%;
            width: 100%;
        }
    }
}

.image-phone{


    &-0{
        height: 25rem;
        width: 30rem;
    }
    &-1{
        height: 25rem;
        width: 30rem;
    }
    &-2{
        height: 25rem;
        width: 30rem;
    }
    &-3{
        height: 25rem;
        width: 30rem;
    }
    &-4{
        height: 25rem;
        width: 30rem;
    }
    

    
}
